header{
    background-size:100%;
    height:350px;
    background-image: url(file:///Users/kyliedebono/Desktop/Web%20design%20assignment%20photos/Casino-Games-by-Michael-Blann-GettyImages-200325572-001-5c26042d46e0fb00017bb4b3.jpg);
    opacity: 0.6;
}
.nav{
    height: 50px;
    text-align: center;
    background-color: rgb(180, 173, 173);
    
}
h1{
    font-size: 400%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
 text-decoration: wavy;
 padding-top: 70px;
 color: navy;
 
}

a:link{
    color:navy;
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    display:inline-block;
  }

  a:hover { 
    color: black;
    text-decoration: underline;
    background-color: white;
  }
    
    .nav input[type=text] {
   
    float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
    }

    .login{
        position:absolute;
        height:100%;
        width:100%;
        font-family:Helvetica;
        color:#fff;
        background:rgba(0,0,0,0.13);
        padding:30px 0px;
      }
      .login h1{
        text-align:center;
        margin:30px 0;
        font-size:30px;
      }
      .login input{
        display:block;
        width:300px;
        margin:20px auto;
        padding:15px;
        background:rgba(0,0,0,0.2);
        color:#fff;
        border:0;
      }

      .login button{
        background: navy;
        border:0;
        color:#fff;
        padding:10px;
        font-size:20px;
        width:330px;
        margin:20px auto;
        display:block;
        
      }